<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payroll System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<h1>Payroll System</h1>

<div class="content">

    {% for data in payroll_data %}
    <div class="information">

        <div class="title">Invoice</div>

        <div class="info-headers">
            <div>Part Name:</div>
            <div>Quantity:</div>
        </div>

        <div class="info-details">
            <div>Printer Cartridge</div>
            <div>3</div>
        </div>

    </div>

    {% endfor %}



</div>
</body>
</html>